<form action="/api/login" method="post">
	<div>
	<label>Client Id:</label>
	<input type="text" name="clientId"/><br/>
	</div>
	<div>
	<label>Client Secret:</label>
	<input type="password" name="clientSecret"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>

